---
import Layout from "../layouts/main.astro";
import "./style.css";
---

<Layout>
    <div id="app">
        <div id="canvasWrapper">
            <div id="info" class="minimized"></div>
            <canvas id="view"></canvas>
        </div>

        <div id="controls" class="appWindow colorChanger">
            <div id="controlsHeader" class="appHeader">
                <span class="appTitle">Options</span>
                <button class="appMinimize colorChanger" type="button">─</button
                >
            </div>

            <div class="appBody">
                <div class="row">
                    <label>
                        Color <input type="color" id="fc" />
                    </label>
                    <label>
                        Fill interior <input type="checkbox" id="fillInside" />
                    </label>
                </div>

                <div class="row">
                    <label class="flex">
                        Glow
                        <input
                            type="range"
                            id="mandelGlow"
                            min="0"
                            max="100"
                            value="80"
                        />
                    </label>
                </div>

                <div class="row">
                    <label class="flex">
                        Iterations
                        <input type="number" id="iterations" value="200" />
                    </label>

                    <label>
                        Relative contrast<input
                            type="checkbox"
                            id="relativeMandel"
                        />
                    </label>
                </div>
            </div>
        </div>

        <div id="juliaBox" class="appWindow colorChanger">
            <div id="juliaHeader" class="appHeader">
                <span class="appTitle">Julia set</span>
                <button class="appMinimize colorChanger" type="button">─</button
                >
            </div>

            <div id="juliaContent" class="appBody">
                <canvas id="juliaCanvas"></canvas>
                <div id="juliaStatus">No web worker</div>
                <div id="juliaCoordinates">Loading Julia-coordinates...</div>

                <label>
                    Relative contrast<input type="checkbox" id="relative" />
                </label>

                <label class="flex">
                    Glow
                    <input
                        type="range"
                        id="juliaGlow"
                        min="0"
                        max="100"
                        value="80"
                    />
                </label>

                <div id="juliaResizeHandle" class="resizeHandle colorChanger">
                </div>
            </div>
        </div>

        <div id="juliaCursor" class="cursorWidget colorChanger">
            <div class="ver">
                <div class="line"></div><div class="line"></div>
            </div>
            <div class="hor">
                <div class="line"></div><div class="line"></div>
            </div>
        </div>

        <div id="statusBar" class="statusBar">
            <div id="status"></div>

            <div class="right">
                <div id="OptionsBtn" class="toggleBtn">
                    <span>Options</span>
                </div>

                <span>|</span>

                <div id="JuliaBtn" class="toggleBtn">
                    <span>Julia set</span>
                </div>

                <span>|</span>

                <a
                    id="gerhardLink"
                    class="colorChanger link"
                    href="https://gerhard.page"
                >
                    Built by Gerhard
                </a>

                <span>|</span>

                <div id="infoBtn" class="toggleBtn colorChanger">
                    <span>?</span>
                </div>
            </div>
        </div>
    </div>
</Layout>

<script is:inline src="/mandelbrot/ui-dom.js"></script>
<script is:inline src="/mandelbrot/fractal-helpers.js"></script>
<script is:inline src="/mandelbrot/mandel-set.js"></script>
<script is:inline src="/mandelbrot/julia-set.js"></script>
<script is:inline src="/mandelbrot/main.js"></script>
