html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #000;
    color: #eee;
    font-family: "sans", "Courier New", Courier, monospace;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font: inherit;
    color: inherit;
    background: none;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button,
input,
textarea,
select {
    all: unset;
}

input[type="color"] {
    width: 1.3em;
    height: 1.3em;
    padding: 0;
    border-radius: 5px;
    border: 0px;
    background: #111;
    margin-right: 0.5em;
}

input[type="checkbox"] {
    margin: 0;
    appearance: checkbox;
}

input[type="range"] {
    width: 80%;
    margin: 2px 0 0 0;
    appearance: auto;
}

.center {
    display: grid;

    * {
        place-self: center;
    }
}

:root {
    --app-margin: 16px;
    --app-padding: 11px;
    --translucent-bg: rgba(0, 0, 0, 0.75);
}


@font-face {
    font-family: "Fira Sans";
    src: url("/fonts/FiraSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Fira Sans";
    src: url("/fonts/FiraSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Icons";
    src: url("/fonts/forkawesome-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "sans";
    src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "sans";
    src: url("/fonts/OpenSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Palatino Linotype";
    src: url("/fonts/Palatino-Linotype-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.icon {
    font-family: "Icons";
}