---
import "./main.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
    />
    <link rel="icon" type="image/png+xml" href="/favicon.png" />
  </head>
  <body>
    <slot />
  </body>
</html>
